@keyframes surface-motion {
    from {
        transform: translate(0, 0);
    }

    to {
        transform: translate(var(--planet-size-negative), var(--planet-size));
    }
}

.planet {
    position: relative;
    width: var(--planet-size);
    height: var(--planet-size);
    min-width: var(--planet-size);
    min-height: var(--planet-size);

    transition: .5s;

    /* VARIABLES */
    --base-texure: url("/images/planet/texture.jpg");
    --lighting: url("/images/planet/lighting.jpg");
    --noise: url("/images/planet/noise.jpg");
    --circular-mask: url("/images/planet/mask.png");
    --planet-color: var(--mate-red);
}

/* RESPONSIVENESS */

@media screen and (max-width: 1024px) {
    /* Styles for tablets and larger mobile devices */

    .planet {
        --planet-size: 256px;
        --planet-size-negative: -256px;
        --planet-blur: 8px;
        --planet-reflection--blur: 128px
    }
}

@media screen and (min-width: 1025px) {
    /* Styles for desktops and laptops */

    .planet {
        --planet-size: 512px;
        --planet-size-negative: -512px;
        --planet-blur: 16px;
        --planet-reflection--blur: 256px
    }
}

/* GENERALS */

.container {
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.masked {
    mask-image: var(--circular-mask);
    mask-repeat: no-repeat;
    mask-size: 100%;
}

.animated-surface {
    animation: surface-motion 10s infinite linear;
}