@keyframes surface-motion {
    from {
        transform: translate(0, 0);
    }

    to {
        transform: translate(var(--planet-size-negative), var(--planet-size));
    }
}

.planet-base {
    /* VARIABLES */
    --base-texure: url("/images/planet/texture.jpg");
    --lighting: url("/images/planet/lighting.jpg");
    --noise: url("/images/planet/noise.jpg");
    --circular-mask: url("/images/planet/mask.png");
    --planet-color: var(--mate-red);
}

.circular-mask {
    mask-image: var(--circular-mask);
    mask-repeat: no-repeat;
    mask-size: 100%;
}

.nm-size {
    --planet-size: 16rem;
    --planet-size-negative: -16rem;
}

.lg-size {
    --planet-size: 32rem;
    --planet-size-negative: -32rem;
}