.homepage {
    width: 100vw;
    height: 100vh;

    display: flex;
    flex-direction: var(--page-flex-direction);
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.text-content {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.slogan {
    margin-bottom: 16px;

    display: flex;
    flex-direction: column;
    justify-content: center;
}

/* RESPONSIVENESS */

@media screen and (max-width: 1024px) {
    /* Styles for tablets and larger mobile devices */

    .homepage {
        --page-flex-direction: column;
    }

    .text-content {
        font-size: 28px;
        text-align: center;
        margin-bottom: 6%;
        justify-content: center;
        align-items: center;
    }
}

@media screen and (min-width: 1025px) {
    /* Styles for desktops and laptops */

    .homepage {
        --page-flex-direction: row;
    }

    .text-content {
        font-size: 28px;
        justify-content: space-between;
        margin-right: 6%;
    }
}