@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {

    --mate-lighter-black: #242529;
    --mate-light-black: #14151a;
    --mate-black: #0c0c11;

    --mate-pure-white: #ffffff;
    --mate-white: #e5e5e5;
    --mate-dark-white: #dfdfdf;
    --mate-darker-white: #d6d6d6;

    --mate-grey: #71717a;
    --mate-teal: #008080;
    --mate-planet: var(--mate-teal);

    --mate-destructive: #ef4444;
    --mate-success: #66DD99;
    --mate-warning: #ffdd44;

    --background: var(--mate-pure-white);
    --foreground: var(--mate-black);

    --card: var(--mate-pure-white);
    --card-foreground: var(--mate-black);

    --popover: var(--mate-pure-white);
    --popover-foreground: var(--mate-black);

    --primary: var(--mate-light-black);
    --primary-foreground: var(--mate-white);

    --secondary: var(--mate-teal);
    --secondary-foreground: var(--mate-white);

    --muted: var(--mate-dark-white);
    --muted-foreground: var(--mate-grey);

    --accent: var(--mate-teal);
    --accent-foreground: var(--mate-white);

    --destructive: var(--mate-destructive);
    --destructive-foreground: var(--mate-white);

    --border: var(--mate-dark-white);
    --input: var(--mate-dark-white);
    --ring: var(--mate-lighter-black);

    --radius: 0.5rem;
  }

  .dark {
    --background: var(--mate-black);
    --foreground: var(--mate-white);

    --card: var(--mate-black);
    --card-foreground: var(--mate-white);

    --popover: var(--mate-black);
    --popover-foreground: var(--mate-white);

    --primary: var(--mate-white);
    --primary-foreground: var(--mate-light-black);

    --secondary: var(--mate-teal);
    --secondary-foreground: var(--mate-white);

    --muted: var(--mate-lighter-black);
    --muted-foreground: var(--mate-grey);

    --accent: var(--mate-teal);
    --accent-foreground: var(--mate-white);

    --destructive: var(--mate-destructive);
    --destructive-foreground: var(--mate-white);

    --border: var(--mate-grey);
    --input: var(--mate-grey);
    --ring: var(--mate-darker-white);

    --radius: 0.5rem;
  }
}

@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground;
  }
}