@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --mate-light-red: #d3607b;
    --mate-red: #C8385A;
    --mate-dark-red: #a02d48;
    --mate-black: #222222;
    --mate-dark-black: #111111;
    --mate-grey: #666666;
    --mate-white: #eeeeee;
    --mate-destructive: #ffdd44;

    --background: var(--mate-black);
    --foreground: var(--mate-white);

    --card: var(--mate-white);
    --card-foreground: var(--mate-black);

    --popover: var(--mate-white);
    --popover-foreground: var(--mate-black);

    --primary: var(--mate-red);
    --primary-foreground: var(--mate-white);
    --primary-light: var(--mate-light-red);

    --secondary: var(--mate-white);
    --secondary-foreground: var(--mate-dark-red);

    --muted: var(--mate-white);
    --muted-foreground: var(--mate-grey);

    --accent: var(--mate-white);
    --accent-foreground: var(--mate-dark-red);

    --destructive: var(--mate-destructive);
    --destructive-foreground: var(--mate-black);

    --border: var(--mate-white);
    --input: var(--mate-white);
    --ring: var(--mate-black);

    --radius: 0.5rem;
  }
}

@layer base {
  * {
    @apply tw-border-border;
  }

  body {
    @apply tw-bg-background tw-text-foreground;
  }
}