#root {
  margin: 0 auto;
}

body {
  margin: 0;
  background-color: #111111;
  color: #eeeeee;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
  overflow-x: hidden;
}