/* DEFAULTS */

.text {
    margin: 0;
    padding: 0;
}

/* RESPONSIVENESS */

@media screen and (max-width: 1024px) {
    /* Styles for tablets and larger mobile devices */

    .text {
        --headings-font-size: 1.3125em;
        --subheadings-font-size: 1.125em;
        --body-font-size: 1em;
        --input-font-size: 1em;
    }
}

@media screen and (min-width: 1025px) {
    /* Styles for desktops and laptops */

    .text {
        --headings-font-size: 2.1875em;
        --subheadings-font-size: 1.875em;
        --body-font-size: 1.8em;
        --input-font-size: 1.8em;
    }
}

/* TEMPLATES */

.heading {
    font-family: "Raleway", sans-serif;
    font-weight: 900;
    font-size: var(--headings-font-size);
}

.subheading {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: var(--subheadings-font-size);
}

.basic {
    font-family: "Outfit", sans-serif;
    font-weight: 400;
    font-size: var(--body-font-size);
}

.input {
    font-family: "Outfit", sans-serif;
    font-weight: regular;
    font-size: var(--input-font-size);
}

/* COLORS */

.white {
    color: var(--mate-white)
}

.black {
    color: var(--mate-black)
}

.red {
    color: var(--mate-red)
}